<head>
<style>
h1 {
    text-align:center;
    font-size: 3vw;
}
p {
    text-align:center;
    font-size: 2vw;
    }
div {text-align:center;}

#teamname {font-size:1.5vw;}

</style>
<h1>Welcome to Foo Grader!</h1>
</head>

<br>
<br>

<body>
<style>
p {
}
</style><!--
<div>
<p class='text-justify'>This website will serve all your grading needs. For both students and instructors,
    For students, Foo Grader gives you your own profile and allows you to do things like 
    create presentations and submit evaluations. Instructors have the ability to update class
    rosters and provide grading feedback directly to their students. See the above menu of 
    options to get started!</p>
</div>
-->

<blockquote class="blockquote text-center">
  <p class="mb-0">This website will serve all your grading needs. For both students and instructors,
    For students, Foo Grader gives you your own profile with access to all your presentations and allows
    you to submit peer evaluations. Instructors have the ability to update class rosters, create new
    presentations, and provide grading feedback directly to their students. See the above menu of 
    options to get started.</p>
    <br>
    <footer class="blockquote-footer"><p id="teamname">Team 1</p></footer>
</blockquote>
</body>

